# Prerequisites
*.d
*.json
# Compiled Object files
*.stl
*.obj
*.off
*.bmp
*.slo
*.lo
*.o
BeautyLib/x64/*
BRDF/x64/*
CgalTool/x64/*
common/x64/*
Cxk_h/x64/*
Cxk_h/*.obj
Cxk_h/*.yml
Cxk_h/rebuilddata/*.obj
Cxk_h/oridata/*.obj
ExtractFaceFromRaw/x64/*
ExtractObj/x64/*
FaceEngine/x64/*
LibHarmon/x64/*
NewNxxf/x64/*
NewNxxf/*.obj
NewNxxf/*.txt
NxxFDLL/x64/*
NxxFace/x64/*
NewNxxFace/x64/*
Skarlett_low_Caixukun/*
RealsenseData/x64/*
RealsenseCalib/x64/*
Remesh/x64/*
simpleReadStl/x64/*
SimpleTools/x64/*
Simulate/x64/*
Skarlett/x64/*
Skarlett_high/*
Skarlett_low/*
Skarlett_low/x64/*
Skarlett_PL/x64/* 
StlObjAlignment/x64/*
TEST_resource/x64/* 
Tools/x64/*
TestTimeGpuCpu/x64/* 
WebCameraGetSequence/x64/* 
WebCameraGetSequence/*.bmp
WebCameraGetSequence/*.jpg
x64/*
.vs/*
Debug/*
*.db
*.opendb
*.log
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.ilk
*.ipdb
*.iobj
*.rar
*.suo
3rdPart/*
data/*
RealsenseCalib/color/*
RealsenseCalib/depth/*
RealsenseCalib/infred/*
RealsenseCalib/realSenselib/*
RealsenseCalib/x64
RealsenseCalib/*.bmp
RealsenseCalib/*.xml
ExtractFaceFromRaw/dlib/*
ExtractFaceFromRaw/x64/*
ExtractFaceFromRaw/*.bmp
ExtractFaceFromRaw/*.xml
ExtractFaceFromRaw/*.dat
ExtractFaceFromRaw/*.txt

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
